<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">     <!--Warning this tag does not pass the W3C validation-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
            <link href="/img/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="/css/styleTemplate.css" />
            {% block style %}{% endblock %}
            
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->


            <!--metatag social networks-->

            <meta name="description" content="Blog professionnel crée par Michael " />

            <!-- Twitter Card data -->
            <meta name="twitter:card" value="summary">

            <!-- Open Graph data -->
            <meta property="og:title" content="Page du blog de Michael" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="#" />
            <meta property="og:image" content="#" />
            <meta property="og:description" content="Blog professionnel créé par Michael " />
        </head>

        <body>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid ">
                    <div class=navbar-header>
                        <h2 class="titleBar">Cocoworking blog</h2>
                    </div>
                    <ul class="nav navbar-nav navbar-right menu">
                        <li><a href="/">Accueil/Contact</a></li>
                        <li><a href="/index.php/listofarticles/1">Liste Des Articles</a></li>
                    </ul>
                </div>
            </nav>

            <header class="row">
                <div class="banner col-xs-12">
                    <div>
                        <p><img src="/img/logoblogdeux.jpg" alt="logo du site" width="20%" height="20%" /></p>
                    </div>
                    <div>
                        <h1>Cocoworking<br />blog</h1>
                    </div>
                </div>
                <section class="content col-xs-12">
                    {% block content %}{% endblock %} 
                </section>
            </header>

            <footer class="row">
                <div class="footer">
                    <ul class="colomnOne col-sm-6 col-xs-12">   
                        <li><h2>Page: </h2></li>
                        <li><a href="/">Accueil/ Contact</a></li>
                        <li><a href="/index.php/listofarticles/1">Liste des articles</a></li>
                    </ul>
                    <ul class="colomnTwo col-sm-6 col-xs-12">    
                        <li><h2>Compte:</h2></li>
                        <li><a href="/index.php/loginpage">Mon compte</a></li>
                        <li><a href="/index.php/registrationpage">Inscription</a></li>
                    </ul>
                    <div class= "socialNetworks col-xs-12">
                        <a class="btn btn-primary btn-lg" href="https://fr-fr.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a>
                        <a class="btn btn-primary btn-lg" href="https://twitter.com/?lang=fr"><i class="fa fa-twitter fa-2x"></i></a>
                        <a class="btn btn-primary btn-lg" href="https://github.com/michaelgtfr/my_professional_blog"><i class="fa fa-github fa-2x"></i></a>
                        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/michaël-garret-130828151/"><i class="fa fa-linkedin fa-2x"></i></a>
                    </div>
                    <p class="copyright col-xs-12">Copyright 2018</p>
                </div>
            </footer>
        </body>
    </html>
